<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>
<p>Example of a list</p>
<ion-content>

   <ion-list>
	<ion-item>
		<ion-label>Item 1</ion-label>
	</ion-item>
	<ion-item>
		<ion-label>Item 2</ion-label>
	</ion-item>
	<ion-item>
		<ion-label>Item 3</ion-label>
	</ion-item>
	<ion-item>
		<ion-label>Etc...</ion-label>
	</ion-item>
</ion-list>
<p>Example of a button</p>

<ion-button href = "/tabs/tab2">Click me to go to the second page</ion-button>
	
</ion-content>
